<%= render partial: "partials/user_voice" %>

<div class="container">
  <h1 class="text-center">TURING DUNGEON</h1>
  <div class="row">

    <div class="col-md-6" id="github-feed">
      <h2 class="text-center"><i class="mega-octicon octicon-git-commit"></i></h2>
      <% @commits.each do |commit| %>
        <div class="well well-sm">

          <div id="commits">
            <ul class="list-inline">
              <li class="col-sm-2 col-xs-2 custom-col-sm">
                <%= link_to image_tag(commit.user.image_url, class: "img-responsive img-circle avatar"), commit.user %>
              </li>
              <li><h3><%= link_to commit.user.nickname, commit.user %></h3></li></br>
              <li><h6><%= link_to commit.repo, commit.repo_url %></h6></li></br>
            </ul>
            <h4><%= link_to commit.message, commit.message_url %></h4>
          </div>

        </div>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-1" id="twitter-feed">
      <h2 class="text-center"><i class="fa fa-twitter"></i></h2>
      <a class="twitter-timeline" href="https://twitter.com/indiesquidge/lists/turing" data-chrome="noheader transparent" data-widget-id="592809557610647554">Tweets from https://twitter.com/indiesquidge/lists/turing</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  </div> <!-- row -->
</div> <!-- container -->
