<%= render partial: "partials/user_voice" %>

<div class="container">
  <h1 class="text-center">Turing Dungeon</h1>
  <div class="row">

    <div class="col-md-6" id="github-feed">
      <h2 class="text-center">Lastest Community Commits</h2>
      <% @commits.each do |commit| %>
        <div class="well well-sm">
          <ul class="list-inline">
            <li class="col-sm-1 col-xs-2">
              <%= link_to image_tag(commit.user.image_url, size: "50", class: "img-responsive img-circle"), root_path %>
            </li>
            <li><h3><%= commit.user.nickname %></h3></li></br>
            <li><h6><%= commit.user.nickname %>/<%= commit.repo %></h6></li>
          </ul>
          <li><h4><%= commit.message %></h4></li>
        </div>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-1" id="twitter-feed">
      <h2 class="text-center"><i class="fa fa-twitter"></i></h2>
      <a class="twitter-timeline" href="https://twitter.com/indiesquidge/lists/turing" data-chrome="noheader transparent" data-widget-id="592809557610647554">Tweets from https://twitter.com/indiesquidge/lists/turing</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  </div> <!-- row -->
</div> <!-- container -->
