<%= render partial: "partials/user_voice" %>

<div class="container">
  <h1 class="text-center">Turing Dungeon</h1>
  <div class="row">

    <div class="col-md-7" id="github-feed">
      <h2 class="text-center">Lastest Community Commits</h2>
      <% @commits.each do |commit| %>
        <div class="well well-sm">
          <ul class="list-inline">
            <li class="col-sm-1 col-xs-2">
              <%= link_to image_tag(commit.user.image_url, size: "50", class: "img-responsive img-circle"), root_path %>
            </li>
            <li><h3><%= commit.user.nickname %></h3></li></br>
            <li><h6><%= commit.user.nickname %>/<%= commit.repo %></h6></li>
          </ul>
          <li><h4><%= commit.message %></h4></li>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 col-md-offset-1" id="twitter-feed">
      <h2 class="text-center">Turing Twitter</h2>
      <% @tweets.each do |tweet| %>
        <div class="well well-sm">
          <ul class="list-inline">
            <li><%= link_to image_tag(tweet.image_url, size: "30"), root_path %></li>
            <li><h4><%= tweet.owner %></h4></li>
            <li class="pull-right"><p><%= 2 * 3 + rand(1..4) %>m</p></li></br>
            <li><p><%= tweet.message %></p></li>
          </ul>
        </div>
      <% end %>
    </div>

  </div> <!-- row -->
</div> <!-- container -->
