<nav class="navbar navbar-custom">
  <div class="container">

    <div class="navbar-brand">
      <%= link_to image_tag("turing-t.png", size: "20"), root_path %>
    </div>

    <ul class="nav navbar-right pull-right">
      <% if current_user %>
        <li class="dropdown">
          <a data-toggle="dropdown" id="user-profile">
            <%= image_tag(current_user.image_url, size: "35", class: "img-responsive img-circle") %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to "/auth/github", id: "github-login" do %>
            <i class="mega-octicon octicon-mark-github"></i>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div> <!-- container nav -->
</nav> <!-- navbar navbar-default navbar-fixed-top -->
